@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/pricedown');


/* Scrollbar Styles */

/* Track */
::-webkit-scrollbar-track {
  background: #252524;
  border-radius: 5px;
  border: 3px inset black;
}

/* Track on hover*/
::-webkit-scrollbar-track:hover {
  box-shadow: inset 0px .25px 5px black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #252524;
  border: 1.5px outset black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0px 0px 2.5px 1.75px rgba(0.6,0,0,0);
  border: 1.5px outset black;
}


/* HTML Tags Styles */
body {
  /* overflow-x: hidden !important; */
  background-color: #252524 !important;
  background: #252524;
  font-family: 'Pricedown Bl', sans-serif;
  background-size: cover !important;
  /* min-height: 100vh !important; */
}

h2, h1, th, tr, thead{
  font-family: 'Pricedown Bl', sans-serif;
  color: antiquewhite;
}

p {
  font-family: 'Pricedown Bl', sans-serif;
  color: antiquewhite;
}

.form-control {
  font-family: 'Pricedown Bl', sans-serif;
  border: 1.5px inset black !important;
  border-radius: 10px;
  box-shadow: inset 2.5px 2.5px 17.75px 17.75px #252524;
  outline: 1px solid black;
  background-color: #252524 !important;
}

.form-control:hover, .form-control:focus {
  background-color: #252524 !important;
  border: 1.5px inset black !important;
  box-shadow: inset 4px 4px 40px 20px rgba(0,0,0,0.6);
  outline: none;
}


#root, .container, html {
  background-color: #252524;
  background: #252524;
}

.container {
  margin-bottom: 100px;
}


.green-arrow {
  font-size: 18px;
  color: #1A773F;
}

.red-arrow {
  font-size: 18px;
  color: #BB2525;
}


.main-container {
  background: #252524;
  font-family: 'Pricedown Bl', sans-serif;
  color: antiquewhite;
}

.text-uppercase.text-primary.welcome-user-text {
  color: #FEAA63 !important;
  font-size: x-large !important;
}


.flex-container {
    font-size: 18px; 
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 15px;
    border: 1.5px inset black;
    border-radius: 10px;
    background-color: #252524;
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6);

    display: grid;
    grid-auto-rows: minmax(auto, 220px);
    column-gap: 1em;
    columns: 6;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    max-height: 1000px !important;
    overflow-y: scroll !important;
}

.crypto-item {
  width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 300px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.6);
    border: 1.5px outset black;
    border-radius: 10px; 
    margin: 10px;
    background-color: #252524;
    flex-wrap: wrap;
    user-select: none !important;
}

@media (max-width: 670px) {
  .crypto-item {
     width: 100%;
     min-width: 300px;
  }
}

@media (min-width: 1300px) {
  .crypto-item {
     width: 100%;
     max-width: 1265px;
  }
}

@media (min-width: 1300px) {
  .crypto-item {
     width: 100%;
     max-width: 2000px;
  }
}

.crypto-item:hover {
  box-shadow: 0px .5px 10px #FEAA63;
}

.crypto-item-header {
  width: 100%;
  height: 25%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
  opacity: 100%;
  color: #FEAA63; 
  display: flex;
  justify-items: flex-end;
  padding-top:8px;
  padding-right: 10px;
  font-size: auto;
}

.crypto-image {
  height: auto;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.crypto-info {
  font-family: 'Pricedown Bl', sans-serif;
  font-size: larger;
  overflow-y: auto;
  height: 140px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 2.5px 5px 2.5px .5px rgba(0,0,0,0.6);
  border-bottom: 1.5px inset black;
  border-right: 1px inset black;
  padding: 15px;
  padding-top: 25px;  
  margin-bottom: 5px;
  user-select: none;
}

.table-header {
  font-family: 'Pricedown Bl', sans-serif;
  color: #FEAA63;
  user-select: none;
}

.tt-menu {
  width: 100%;
}

.tt-suggestion {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.tt-suggestion:hover {
  background-color: #f5f5f5;
}

.tt-suggestion.tt-cursor {
  background-color: #f5f5f5;
}

.typeahead {
  border-radius: 0;
}

/* Navbar */
.custom-nav-logo {
  font-family: 'Pricedown Bl', sans-serif;
  font-size: 48px;
  font-weight: 500;

}

nav {
  background: #252524;
  color: antiquewhite;
  margin-bottom: 50px;
  position: fixed ;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand.mr-2.my-2.my-sm-0.custom-nav-logo {
  font-size: 48px;
  font-weight: 500;
  margin-left: 15px;
  color: #FEAA63;

}

.navbar-toggler {
  background-color: #252524;
  border: 2.5px inset antiquewhite !important;
  border-radius: 20px !important;
  color: #FEAA63;
  font-family: 'Pricedown Bl', sans-serif;
  font-size: x-large;
  height: 30px;
  width: 60px;
  user-select: none;
  cursor: pointer;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #252524;
  color: antiquewhite;
  text-align: center;
  z-index: 1;
  box-shadow : 0px -7.5px 4px -4px black,
  0px 0px 10px 5px rgba(0,0,0,0.6);
  border: 1.5px 0px outset black;
  border-top: .5px inset black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.copy-right.text-center {
  margin-top: 7.5px;
}

.name-text {
  color: #FEAA63;
}

.name-text:hover {
  color: antiquewhite;
}

.referral-code {
  background-color: #080808;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #fff;
}

.referral-code p {
  font-size: 1.1rem;
  color: #FEAA63;
}

.custom-heading {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.custom-table {
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #252524;
}

th,
td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 5px solid rgb(0, 0, 0);
  text-align: center;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.alert {
  padding: 0.5rem 1rem !important;

  background-color: #252530 !important; /* Same background as modal content */
  border-radius: 10px; /* Consistent border radius */
  box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6); /* Similar shadow effect */
  display: flex; /* Allow for additional styling using flexbox */
  align-items: center; /* Vertically center message content */
  justify-content: center;
  margin: auto;
  font-family: 'Pricedown Bl', sans-serif;
  outline: none;
}


.alert-success {
  font-weight: bold !important;
}

.alert-info {
  align-items: center;
  font-weight: bold !important;
  min-width: 230px;
}

.alert-danger {
  background-color: #520008 !important;
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
}

.fancy-color {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  display: flex; /* Make sure display is set to flex */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center content horizontally */
}

.custom-title {
  /* margin-left: 50px !important; */
  margin-top: -30px !important;
  margin-bottom: 50px !important;
  padding: 0.5rem 0.5rem !important;
  width: fit-content !important;
  background-color: #252524;
  color: #FEAA63;
}

.welcome-user-text {
  font-size: 1rem !important;
  font-weight: 500 !important;
  letter-spacing: 0.05em !important;
}

.btn {
  background-color: #252524;
  border: 1.5px outset black !important;
  color: #FEAA63;
  font-family: 'Pricedown Bl', sans-serif;
  font-size: x-large;
}

.btn.btn-search {
  color: #FEAA63;
}

.btn.btn-search:hover {
  color: #9FC9A6;
}

.btn.btn-block.my-2 {
  color: #1A773F;
  font-size: x-large;
}

.btn.btn-buy {
  color: #1A773F !important;
}

.btn.btn-sell {
  color: #1A773F !important;
  font-size: xx-large;
}

.btn.btn-reset-portfolio {
  background-color: #FEAA63;
  color: #1A773F !important;
}

.btn.btn-reset-portfolio:hover {
  color: #FEAA63 !important;
  background-color: #1A773F !important;
}

.btn.btn-delete-account {
  color: #520008;
  background-color: #FEAA63;
}
.btn.btn-delete-account:hover {
  background-color: #520008;
  color: #FEAA63;
}

.btn.btn-get-crypto {
  background-color: #1A773F;
  color: #FEAA63;
}


#buy-card, #sell-card, .column.justify-content-center.align-items-center.p-5  {
  border: 1.5px inset black !important;
  border-radius: 10px;
  box-shadow: inset 2.5px 2.5px 17.75px 17.75px #252524 !important;
  outline: 1px solid black !important;
  background-color: #252524 !important;
  color: antiquewhite;
  max-width: 430px !important;
  padding: auto;
  font-family: 'Pricedown Bl', sans-serif;
  font-size: xx-large;
}


.card.mb-3 {
  margin: 0 auto; /* Centers horizontally on all screens */
}

@media (min-width: 992px) {  /* Target screens wider than 992px */
  .card.mb-3.text-center {
    /* Additional styles for larger screens, if needed */
  }
}

.card-body {
  font-size: x-large;
}

.cash-amount {
  font-size: x-large !important;
  color: #1A773F;

}