{% extends 'base.html' %}
{% block title %}
Crypto Charts
{% endblock title %}

<h2>Cryptocurrency Price Chart</h2>

{% if error_message %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>
{% endif %}

<form method="post">
  {% csrf_token %}
  <div class="form-group row">
    <label for="cryptocurrency" class="col-sm-2 col-form-label">Cryptocurrency:</label>
    <div class="col-sm-6">
      <select name="cryptocurrency" id="cryptocurrency" class="form-control">
        {% for code, name in crypto_choices %}
          <option value="{{ code }}">{{ name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="start_date" class="col-sm-2 col-form-label">Start Date:</label>
    <div class="col-sm-6">
      <input type="date" name="start_date" id="start_date" class="form-control" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="end_date" class="col-sm-2 col-form-label">End Date:</label>
    <div class="col-sm-6">
      <input type="date" name="end_date" id="end_date" class="form-control" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<br>

{% if plot_div %}
  <div id='crypto-chart-container'>
    {{ plot_div|safe }}
  </div>
{% endif %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
